.gallery {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
}

.gallery-image {
    max-width: 350px;
}

.gallery-item {
    list-style-type: none;
}
body {
    box-sizing: border-box;
}